<h1>Order Details</h1>

<p>This component get order details from the server.</p>

<button (click)="GetOrderDetails()">Get Order Details</button>
<table class='table' *ngIf="customerOrderDetails">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Order Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customerOrderDetail of customerOrderDetails">
            <td>{{ customerOrderDetail.orderId }}</td>
            <td>{{ customerOrderDetail.productId }}</td>
            <td>{{ customerOrderDetail.productName }}</td>
            <td>{{ customerOrderDetail.orderDate|date:'medium' }}</td>
        </tr>
    </tbody>
</table>
